* {
    box-sizing: border-box;
    /* border: 1px solid #9e0808; */
    padding: 0;
    margin: 0;
    text-align: center;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #7f8286;
    color: #333;
    line-height: 1.5;
}

header, footer {
    background: linear-gradient(to right, #a55fd7, #eb3939);
    color: #fff;
    padding: 10px 0;
}

h1, h2 {
    font-weight: 700;
}

p {
    font-weight: 400;
}

a {
    color: #007bff;
    text-decoration: none;
}

section {
    /* border: 1px solid #ddd; */
    box-sizing: border-box;
    padding: 20px;
}

hr {
    width: 50%;
    padding: 20px auto;
    display: inline-flex;
}

img {
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

form, iframe {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

iframe {
    border-radius: 5px;
    padding: 0;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: cal(100% - 5px);
    margin-bottom: 20px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
}

form button[type="submit"] {
    background-color: blue;
    background-image: linear-gradient(to right, #831bcd, #f9620b);
    color: #fff;
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-image 0.3s ease;
}

form button:hover {
    background-image: linear-gradient(to right, #f9620b, #831bcd);

}

form button {
    width: calc(100% - 90px);
    padding: 10px 20px;
    margin-left: auto;

}

/* ADJUSTMENT FOR BRAND ICON TO DISPLAY LARGE  */
.icon-link {
    display: inline-flex;
    font-size: 1.8rem;
    /* border-radius: 50% !important; */
    color: white;
    /* border: 1px solid red; */
    margin: 0;
    padding: 3px 8px;
    border-radius: 50%;
    transition: transform 0.3s ease;
    
}

.icon-link:hover {
    transform: scale(1.2);
}

.bi-whatsapp {
    color: green;
}

.bi-facebook {
    color: blue;
}

.bi-envelope {
    color: red;
}

.bi-twitter-x {
    color: black;k;
}

.bi-linkedin {
    color: blue;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    /* border: 1px solid red; */
}

ul li {
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
    .skills-list {
        flex-direction: column; /*Stacks skills vertically on smaller screens*/
    }
}

@media only screen and (min-width: 480px) {
    header, footer {
        padding: 15px;
    }
}